# Bibliotecas Usadas

In [ ]:
import csv
import sqlite3
import numpy as np
import statistics
import chart_studio
import pandas as pd
import datapane as dp
import plotly.offline as py
import plotly.express  as  px
import plotly.graph_objs as go
import chart_studio.plotly as cs
import chart_studio.tools as tls
import plotly.figure_factory as ff

from datetime import date
from plotly.subplots import make_subplots

# Tratamento dos dados

In [ ]:
df = pd.read_csv(r'C:\Users\lalad\Documents\Escola\UFMG\6ºperiodo\Visulização de dados\TP\Station.csv', sep = ';', header = 'infer',encoding='utf-8',low_memory=False)
#df

In [ ]:
df1 = pd.read_csv(r'C:\Users\lalad\Documents\Escola\UFMG\6ºperiodo\Visulização de dados\TP\Database\datasets_63234_122771_df_stations.csv', sep = ',', header = 'infer',encoding='utf-8',low_memory=False)
#df1

In [ ]:
df2 = pd.read_csv(r'C:\Users\lalad\Documents\Escola\UFMG\6ºperiodo\Visulização de dados\TP\data3.csv', sep = ';', header = 'infer',encoding='utf-8',low_memory=False)
#df2

# Cria o banco de dados

In [ ]:
#Cria o banco bike
conn = sqlite3.connect('bike.db')
cursor = conn.cursor()

#Coloca a tabela tab no banco
Table1 = df
Table1.to_sql('usadas',conn,if_exists = 'fail',index = False)
conn.close()

In [ ]:
#Cria o banco bike
conn = sqlite3.connect('bike.db')
cursor = conn.cursor()

#Coloca a tabela tab no banco
Table1 = df1
Table1.to_sql('station',conn,if_exists = 'fail',index = False)
conn.close()

In [ ]:
#Cria o banco bike
conn = sqlite3.connect('bike.db')
cursor = conn.cursor()

#Coloca a tabela tab no banco
Table1 = df2
Table1.to_sql('tab',conn,if_exists = 'fail',index = False)
conn.close()

# Visualizações

<h3> Questões geográficas

<p>1) Onde as estações estão localizadas?

<p> 2) Quais as estações mais usadas? Para pegar a bicicleta emprestada e devolve-la respectivamente.

In [ ]:
conn = sqlite3.connect('bike.db')
cursor = conn.cursor()

sql = """select id_station_start, name_station_start, count(name_station_start)
from tab
group by name_station_start
having count(name_station_start) > 11000
order by count(name_station_start)
"""

cursor = conn.execute(sql)
rows = cursor.fetchall()
conn.close()
#rows
#Criando um dataframe com pandas

identificador = []
nome = []
count = []

for element in rows:
  identificador.append(element[0])
  nome.append(element[1])
  count.append(element[2])

dic = {
    'id': identificador,
    'Nome':nome,
    'Count': count,
}
#dic
#Visualização do Data Frame
dataframe1 = pd.DataFrame(dic)
#dataframe1

In [ ]:
conn = sqlite3.connect('bike.db')
cursor = conn.cursor()

sql = """select id_station_end, name_station_end, count(name_station_end)
from tab
group by name_station_end
having count(name_station_end) > 11000
order by count(name_station_end)
"""
cursor = conn.execute(sql)
rows = cursor.fetchall()
conn.close()
#rows
#Criando um dataframe com pandas

identificador = []
nome = []
count = []

for element in rows:
  identificador.append(element[0])
  nome.append(element[1])
  count.append(element[2])

dic = {
    'id': identificador,
    'Nome':nome,
    'Count': count,
}
#dic
#Visualização do Data Frame
dataframe2 = pd.DataFrame(dic)
#ataframe2.shape

In [ ]:
fig = make_subplots(rows=2, cols=1)

fig.add_trace(
    go.Bar(x = dataframe1['Count'] ,  y = dataframe1['Nome'], marker_color='#02732A', name = 'Principais estações de início', orientation='h'),
        row=1, col=1
)

fig.add_trace(
    go.Bar(x = dataframe2['Count'] ,  y = dataframe2['Nome'], marker_color='#F2CB05', name = 'Principais estações de fim', orientation='h'),
    row=2, col=1
)


fig.update_layout(height=500, width=1000,title_text='Ranking: estações mais usadas')
fig.update_xaxes(matches='x')
fig.show()

In [ ]:
conn = sqlite3.connect('bike.db')
cursor = conn.cursor()

sql = """select station_number, station_name, lat, lon
from station  
"""
cursor = conn.execute(sql)
rows = cursor.fetchall()
conn.close()
#rows

In [ ]:
#Criando um dataframe com pandas

Id = []
nome = []
latitude= []
longitude = []

for element in rows:
  Id.append(element[0])
  nome.append(element[1])
  latitude.append(element[2])
  longitude.append(element[3])

dic = {
    'id': Id,
    'nome':nome,
    'latitude': latitude,
    'longitude':longitude,
}
#dic
#Visualização do Data Frame
dataframe = pd.DataFrame(dic)
#dataframe.shape

In [ ]:
fig = px.scatter_mapbox(dataframe, lat="latitude", lon="longitude",hover_name="nome",hover_data=["id"],zoom=11, title= 'Estações')
fig.update_layout(mapbox_style="open-street-map")
fig.show()

In [ ]:
conn = sqlite3.connect('bike.db')
cursor = conn.cursor()

sql = """select *
from usadas
group by Nome
"""
cursor = conn.execute(sql)
rows = cursor.fetchall()
conn.close()
rows

In [ ]:
#Criando um dataframe com pandas

Id = []
nome = []
count = []
points = []
latitude= []
longitude = []

for element in rows:
  Id.append(element[0])
  nome.append(element[1])
  count.append(element[2])
  points.append(element[3])
  latitude.append(element[4])
  longitude.append(element[5])

dic = {
    'id': Id,
    'Nome':nome,
    'Count': count,
    'Points': points,
    'lat': latitude,
    'lon':longitude,
}
#dic
#Visualização do Data Frame
dataframe = pd.DataFrame(dic)
#dataframe.shape

In [ ]:
fig = px.density_mapbox(df, lat="lat", lon="lon", z="Count", radius=20,
                        center=dict(lat=-15.79462, lon=-47.88172), zoom=11,
                        mapbox_style="open-street-map", title= 'Estações mais usadas',hover_name="Nome",hover_data=["id"])
fig.show()

In [ ]:
conn = sqlite3.connect('bike.db')
cursor = conn.cursor()

sql = """select id_station_end, name_station_end, count(name_station_end)
from tab
group by name_station_end
order by id_station_end
"""
cursor = conn.execute(sql)
rows = cursor.fetchall()
conn.close()
#rows
#Criando um dataframe com pandas

identificador = []
nome = []
count = []

for element in rows:
  identificador.append(element[0])
  nome.append(element[1])
  count.append(element[2])

dic = {
    'id': identificador,
    'Nome':nome,
    'Count': count,
}
#dic
#Visualização do Data Frame
dataframe1 = pd.DataFrame(dic)
#dataframe1

In [ ]:
conn = sqlite3.connect('bike.db')
cursor = conn.cursor()

sql = """select lat, lon
from station
order by station_number
"""
cursor = conn.execute(sql)
rows = cursor.fetchall()
conn.close()
#rows
#Criando um dataframe com pandas

lat= []
lon= []

for element in rows:
  lat.append(element[0])
  lon.append(element[1])

dic = {
    'lat':lat,
    'lon':lon,
}
#dic
#Visualização do Data Frame
dataframe2 = pd.DataFrame(dic)
#dataframe2

In [ ]:
result = pd.concat([dataframe2,dataframe1], axis=1)

In [ ]:
fig = px.density_mapbox(result, lat="lat", lon="lon", z='Count', radius=20,
                        center=dict(lat=-15.79462, lon=-47.88172), zoom=11,
                        mapbox_style="open-street-map", title= 'Estações mais usadas para devolver bicicletas')
fig.show()

In [ ]:
conn = sqlite3.connect('bike.db')
cursor = conn.cursor()

sql = """select id_station_start, name_station_start, count(name_station_start)
from tab
group by name_station_start
"""

cursor = conn.execute(sql)
rows = cursor.fetchall()
conn.close()
#rows
#Criando um dataframe com pandas

identificador = []
nome = []
count = []

for element in rows:
  identificador.append(element[0])
  nome.append(element[1])
  count.append(element[2])

dic = {
    'id': identificador,
    'Nome':nome,
    'Count': count,
}
#dic
#Visualização do Data Frame
dataframe1 = pd.DataFrame(dic)
#dataframe1

In [ ]:
conn = sqlite3.connect('bike.db')
cursor = conn.cursor()

sql = """select lat, lon
from station
order by station_number
"""
cursor = conn.execute(sql)
rows = cursor.fetchall()
conn.close()
#rows
#Criando um dataframe com pandas

lat= []
lon= []

for element in rows:
  lat.append(element[0])
  lon.append(element[1])

dic = {
    'lat':lat,
    'lon':lon,
}
#dic
#Visualização do Data Frame
dataframe2 = pd.DataFrame(dic)
#dataframe2

In [ ]:
result = pd.concat([dataframe2,dataframe1], axis=1)
#result

In [ ]:
fig = px.density_mapbox(result, lat="lat", lon="lon", z='Count', radius=20,
                        center=dict(lat=-15.79462, lon=-47.88172), zoom=11,
                        mapbox_style="open-street-map", title= 'Estações mais usadas pegar bicicletas')
fig.show()